body {
  background: url(tiles.png);
}

#gameContainer {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  box-shadow: 0px 0px 16px 11px rgba(124, 255, 248, 0.541);
  background-color: rgba(200, 255, 255, 0.233);
}

#gameContainer::after {
  content: "";
  background: url(container.gif);
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#playerCharacter {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(ufo.png);
  background-repeat: no-repeat;
}
